@{
  ViewBag.Title = "Rreth nesh";
}
<style>
  body {
    background-image: url("/Content/FotoDesign/fluid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container body-content" style="background-color:rgba(166, 168, 246, 0.49);" >
  <div class="card text-center" style="font-size:medium; background-color:rgba(233, 234, 245, 0.05); color:#ffffff" >
    <div class="card-body" style="font-size:medium; background-color:rgba(233, 234, 245, 0.05); color:#ffffff" >
      <img src="~/Content/FotoDesign/logo.png" width="390px" height="150px" /> 
      <p style="font-size:medium; background-color:rgba(233, 234, 245, 0.05); color:#ffffff" >Eshte nje aplikacion qe ka si qellim te reklamoje punimet e artisteve te rinj dhe
      atyre tashme te afirmuar ne fushen e arteve pamore. Cdo artist ka mundesi te postoje punimet e tij, te ndjeke
      artiste te tjere dhe te pelqeje punime te tjera.</p>
      <p style="font-size:medium; background-color:rgba(233, 234, 245, 0.05); color:#ffffff">Cdo punim ka te dhena mbi autorin, kategorine,subjektin, stilet e saj etj. Ju mund te gjeni piktura,vzatime ose
      foto nga kategorite tuaja te preferuara ne baze te subjektit dhe stileve te tyre.</p>
      <p></p>
    </div>
  </div>
</div>
  

